.navBar{
    width: 1535px;
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: flex-start;

}
.subDiv{
    display: flex;
}
.navBarMainHeading{
    padding-left: 25px;
    font-weight: bold;
    font-size: x-large;
}

.navBarMenues{
    display: flex;
    gap: 6rem;
    padding-left: 40rem;
}
.navBarMenues h5{
    text-transform: uppercase;
}